body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #202020;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
}

.ring{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 2px 0 #faecfc, 0 0px 20px #000;
    background: transparent;
    animation: animate 0.8s linear infinite ;
    
}


.text{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    color: #ffdbf9;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 300px;
    font-size: 2em;
    background: transparent;
    text-shadow: 
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 3rem #fd0f76, 0 0.2rem 2rem #970042;
    animation: shine 2.5s forwards linear alternate-reverse infinite ;

}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


  
  @keyframes shine {
    0% {
      color: #ffffff;
      text-shadow: none;
    }
    100% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
  }
  
  